	.mmgraph {fill: #ffffff;}
	.mmaxis {stroke:#999999; fill:none; stroke-width:1; stroke-linecap:square;}
	.mmpractice {font-family:Arial,sans-serif; font-size:12px; color:black; text-antialiasing:true;}
	.mmlevel {font-family:Arial,sans-serif; font-size:12px; color:black; font-style:italic; text-antialiasing:true;}
	.mmstripe {fill:#dddddd; opacity:0.7;}
	.mmgovernance {fill:#18435C; opacity:0.8;}
	.mmconstruction {fill:#5A2E1A; opacity:0.8;}
	.mmverification {fill:#186031; opacity:0.8;}
	.mmdeployment {fill:#580619; opacity:0.8;}
	.mmtitle {font-family:Arial,sans-serif; font-size:14px; color:black; text-decoration:underline; text-antialiasing:true;}
	.mmlabel {font-family:Arial,sans-serif; font-size:12px; color:black; font-style:italic; text-antialiasing:true;}